@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: DBHelvethaica;
}
@font-face {
    font-family: DBHelvethaica;
    src: url(../font/DB-Helvethaica-X-Med-v3.2.ttf);
}
.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 .5rem;
}


.wrapper-banner {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}
.wrapper-banner img {
    width: 100%;
}

.wrapper-all-games {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 6rem;
}
.wrapper-btn-game {
    margin: .5rem;
}
.all-games {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.card-game {
    border: 3px solid #AE893F;
    width: 150px;
    height: 150px;
    border-radius: 24px;
    position: relative;
    background: linear-gradient(180deg, rgba(35, 35, 35,0) 0%, rgba(35, 35, 35,0) 70%, rgba(174, 137, 63,.3) 100%);
}
.card-game img {
    position: absolute;
    width: 115%;
    top: 43%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
.card-game h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    white-space: nowrap;
    color: #fff;
    letter-spacing: 1px;
    font-family: 'Prompt', sans-serif;
    font-size: 14px;
    font-weight: 400;
}