@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}
body {
    background: #181818;
}
/* @font-face {
    font-family: DBHelvethaica;
    src: url(../font/DB-Helvethaica-X-Med-v3.2.ttf);
} */
.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 .5rem;
}

.wrapper-banner img {
    width: 100%;
    position: relative;
    top: 35px;
}